<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Manager</title>
</head>
<body>
    {% include 'components/header.html' %}
    <h1>Make employee a Manager</h1>
    <form method="POST" action="/make_manager_form">
        <label for="employee_id">Employee ID:</label>
        <input type="text" id="employee_id" name="employee_id" required><br><br>     
        <button type="submit">Make Manager</button>
    </form>
</body>
</html>
